@import './../mixin';
@import './../variant/varinant';
.action {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__submit{
    flex-basis: 50%;
    margin-right: 10px;
    cursor: pointer;
    background: $main-color;
    color:$second-color;
    @include button-style;
    &:hover{
      opacity: 0.8;
    }
  }
  &__cancel{
    flex-basis: 50%;
    cursor: pointer;
    @include button-style;
    background: $second-color;
    color:$main-color;
    border: 1px solid black;
    &:hover{
      opacity: 0.8;
    }

  }
}