@import './../mixin';
@import './../variant/varinant';
.wrapAnotherLogin{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .anotherItem{
    @include button-style;
    flex-basis: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title{
      margin-left: 10px;
    }
    .icon{
      width: 16px;
      height: 16px;
    }
  }
  .loginFacebook{
  margin-left: 5px;
  background-color: rgb(14, 14, 110);

  }
  .loginGoogle{
    margin-right: 5px;
    background-color: white;
    color: black;
    border: 1px solid lightgray;
  }

