@import './../variant/varinant';
@import './../mixin';

.wrapModal {
  @include box-style;
  width: 400px;
  max-width: 100%;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  padding: 30px;
  padding-top: 0;
  transition: all ease-in 0.2s;
  background: white;
  opacity: 0;


}

.wrapModalAppear {
  top: 50%;
  transition: all ease-in 0.2s;
  opacity: 1;

}

.headModal {
  background: chocolate;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 0;
  color: $main-color;
  background: $second-color;

  border-bottom: 1px solid lightgray;
  .clearIcon{
    cursor: pointer;
  }
}