@import './../variant//varinant';
.listCategory{
  // border: 1px solid $main-color;
  border-bottom: none;

  &__head{
    border-bottom:1px solid $main-color ;
    padding: 10px;
    text-align: center;
    color: $second-color;
    background-color: $main-color;
    border: 1px solid $main-color;
    background-clip: border-box;

    font-weight: bold;
  }
  &__body{
   
    &__item{
      display: block;
      padding: 10px;
      border-bottom: 1px solid $hover-color;
      &:hover{
        background-color: $hover-color;
      }
    }
    
  }
}
@media (max-width:740px){
  .listCategory{
    display: none;
  }
}