$main-color:black;
$main-text-color:#333;
$second-color:white;
$second-text-color:rgb(248, 247, 247);
$font-size-tablet:13px;
$hover-color:rgb(196, 190, 190);
$height-header:74px;
$min-height-page:calc(100vh - 74px);
$special-color:red

