@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
$font-special: 'Dancing Script', cursive;
// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$main-color:rgb(73, 165, 130);
$main-text-color:#333;
$second-color:white;
$second-text-color:rgb(248, 247, 247);
$font-size-tablet:13px;
$hover-color:rgb(196, 190, 190);
$height-header:74px;
$min-height-page:calc(100vh - 74px);
$special-color:red

