@import '../../variant/varinant';
@import '../../mixin';

.header {
  height: $height-header;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  padding: 20px;
  background: transparent;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in 0.2s;

  &__left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0.2;
    width: 400px;
    padding: 0 20px;

    h3 {
      color: $second-color;
     
    }

    .iconBar {
      display: none;
      margin-right: 20px;
      color: $second-text-color;
    }
  }

  &__middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    @media (min-width:1024px){
      padding-left: 30px;
    }
    
  }
  &__searchMobile{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 11;
    background:$main-color;
    transition: all ease-in 0.2s ;
    padding: 20px;
  }
  &__searchMobileAppear{
    transform: translateY(-100%);
    transition: all ease-in 0.2s ;
    
  }

}
.headerNoAtHome{
  // background: $main-color !important;
  background: $main-color ;

  width: 100% ;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $second-color;
  font-weight: 600;
  .imgLogo{
    width: 120px;
    @media (max-width:740px){
      width: 100px;
    }
  }
}
.formSearch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include input-style();
  background: $second-color;
  input {
    border: none;
    flex: 1;
    outline: none;
  }

  .iconSearch {
    cursor: pointer;
    color: $main-color;
  }
}

//mobile
@media (max-width:740px){
.header > .header__left > .iconBar{
  display: block;
}
.header{
  &__middle{
    display: none;
  }
  &__right{
      background: red;
      display: none;
  }
  
}
}
@media (max-width:1024px){
  
  .header{
    font-size: $font-size-tablet;
    &__right{
      
    }
    
  }
  }
  .headerColor{
    background: $main-color;
    transition: all ease-in 0.2s;
  //  *{
  //    color:$main-color;
  //  }
  //  .formSearch{
  //   border: 1px solid $main-color;
  //    input{
     
  //    }
  //  }
  }