@import './../../variant/varinant';
.wrapPayment{
  margin-top: $height-header;
  padding: 20px;
  min-height: calc(100vh - #{$height-header});
  @media (max-width:1024px){
    padding:20px 10px;
  }
}