@import './../../mixin';
@import './../../variant/varinant';
.wrapListPayment{
  padding: 15px;
  @include box-style;
  
  
}

.paymentHeader{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title{
    margin-left: 10px;
  }
}
.paymentBody{
  max-height: 100vh;
  overflow: auto;
  padding-bottom: 20px;
  &::-webkit-scrollbar {
    width: 0em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background: $main-color;
    border-radius: 15px;
  }
}
.paymentTotalPrice{
  margin-top: 33px;
}